Flask==2.0.1
itsdangerous==2.0.1
Jinja2
Keras-Preprocessing
matplotlib
matplotlib-inline
MarkupSafe
numpy
scikit-learn
scipy
sklearn
streamlit
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
Werkzeug
numpy
pandas